/* Main container for the two sections */
.signin-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Left Section */
.signin-left-section {
    background-color: #3b49d8;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.signin-welcome-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.signin-welcome-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Right Section */
.signin-right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.signin-form-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signin-form-container h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.signin-form-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signin-form-container p {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.signin-form-container a {
    color: #3b49d8;
    text-decoration: none;
}

.signin-form-container a:hover {
    text-decoration: underline;
}

/* Login Form */
.signin-form {
    display: flex;
    flex-direction: column;
}

.signin-input-field {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.signin-continue-button {
    background-color: #000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.signin-continue-button:hover {
    background-color: #333;
}

.signin-google-button {
    background-color: #fff;
    color: #333;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.signin-google-button:hover {
    background-color: #f5f5f5;
}

/* Divider */
.signin-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.signin-divider hr {
    width: 45%;
    border: 0.5px solid #dcdcdc;
}

.signin-divider span {
    font-size: 12px;
    color: #888;
}

/* Forgot Password Link */
.signin-forgot-password {
    font-size: 14px;
    color: #333;
}

.signin-forgot-password span {
    color: #3b49d8;
    cursor: pointer;
}

/* Error message */
.signin-error {
    color: red;
    margin-top: 10px;
}